@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.container {
    width: 90%;
    padding: 1rem;
    margin-bottom: 1rem;
}

.tabela {
    padding: .5em;
}

.addtarefa {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 80%;
}

img {
    width: 100%;
}

.box {
    width: 100%;
    margin: .75rem;
}

form {
    display: flex;
    flex-direction: column;
    animation: fadeIn .75s forwards;
}

.msg {
    display: none;
    animation: fadeIn .75s forwards;
}

.msg button {
    margin-top: 1rem;
    width: 100%;
}

.msg[fading] {
    animation: fadeOut .25s forwards;
}

form[fading] {
    animation: fadeOut .25s forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
    0% {
        opacity: 1;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        width: 60%;
        box-shadow: 1px 1px 5px 1px #e1e1e1;
    }

    .addtarefa {
        flex-direction: row;
    }

    .img {
        width: 50%;
    }

    .box {
        width: 50%;
    }
}

form h1 {
    margin-bottom: 1rem;
    font-size: 1.25em;
    text-align: center;
}

form label {
    font-weight: bold;
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: .75em;
}

form input, textarea {
    border: none;
    box-shadow: 1px 1px 5px 1px #e1e1e1;
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: .5em;
}

textarea {
    resize: none;
}

input:focus-visible, textarea:focus-visible {
    outline: 1px solid #dbdbdb;
}

input:hover, textarea:hover {
    background-color: #ebebeb;
}

button {
    border: none;
    padding: .5rem .5rem;
    background-color: #9296ab;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    transition: .2s;
    border-radius: .5em;
}

button:hover {
    background-color: #BABFE2;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    font-size: .9em;
}

table th {
    background-color: #9296ab;
    color: #fff;
    border-radius: .75em;
    border: 2px solid #fff;
}
        
table th, table td {
    padding: .5rem;
    width: 33%;
    max-width: 1rem;
    overflow-wrap: break-word;
}

table td {
    border-right: 1px solid #9296ab;
    border-bottom: 1px solid #9296ab;
    animation: showLine .5s forwards;
}

table td:last-child {
    border: none;
    border-bottom: 1px solid #9296ab;
}

table button {
    margin: .25em 1em;
}

@keyframes showLine {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}